# Core functionality - changes here should be rare!
/src/app.py                   @bohraayush25
/src/backend/database.py      @bohraayush25
/src/backend/routers/auth.py  @bohraayush25

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bohraayush25
